*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    }
img {
    height: auto;
  }
  .header{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    align-items: center;
  }
  .header__info{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 50px;
  }
.title{
  text-align: center;
  margin: 64px auto 64px;
}  
.input__container{
    width: 100%;
    height: auto;
    margin-top: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    border: 1px solid #1B47B9;
    outline: none;
    border-radius: 11px;
    max-width: 604px;
    min-width: 339px;
    width: 41%;
    height: 49px;
    padding-left: 24px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
}
.random__btn{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .btn{
    width: 428px;
    height: 77px;
    margin: 30px ;
    background-color: #1E6CC7;
    border: none;
    outline: none;
    border-radius: 11px;
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
  }
  .main__resolt {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 16px;
    font-size: 16px;
    font-weight: 600;
}